.div-inferior {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.contenedor-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.div-centrado {
  width: 100%;
  text-align: center;
}
