<ion-content [fullscreen]="true">
  <div class="contenedor-flex">
    <div class="div-centrado">
      <img src="/assets/img/logo.svg" alt="logo">
      <h3 class="text-welcome">
        LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
      </h3>
    </div>
  </div>
  <div class="div-inferior">
    <ion-button expand="block"
                mode="ios"
                class="btn-block mb-15 fw-7"
                [routerLink]="['/register']">
      REGÍSTRATE
    </ion-button>
    <ion-button expand="block"
                mode="ios"
                class="btn-block fw-7"
                color="secondary">
      INGRESA
    </ion-button>
  </div>

</ion-content>
